.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.7));
  padding: 1.2rem 3rem;
  z-index: 1000;
}

.header-content {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-name {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.company-name h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #f9f8f8;
  margin: 0;
  letter-spacing: -0.5px;
}

.company-logo {
  height: 2.9rem ;
  width: auto;
  display: block;
  object-fit: contain;
}

.nav-buttons {
  display: flex;
  gap: 0.5rem;
}

.nav-buttons button {
  padding: 0.7rem 1.8rem;
  background-color: transparent;
  border: none;
  border-radius: 6px;
  font-size: 0.95rem;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.nav-buttons button:hover {
  background-color: #029e12;
  color: white;
}

.nav-buttons button.active {
  background-color: #029e12;
  color: white;
}
